
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{# if condition}}

Condition is matched 

{{ else }}

Condition is not matched 

{{/ if }}


{{# each users as |val key|}}

  {{val.name}}
  {{val.age}}

{{/ each}}
